/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: #2e71a6;
  text-decoration: none;
}

.color-section {
  margin: 0 auto;
  max-width: 100%;
}

.nav-bar-container {
  display: flex;
}

.nav-list {
  display: none;
  list-style: none;
}

.desktop-nav-links {
  display: none;
  list-style: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 100%;
}

#slack-icon {
  width: 100px;
}

.nav-btn {
  background: transparent;
  border: none;
}

.nav-hr {
  border: 0 none;
  height: 1px;
  background-color: #6b6a6a;
  width: 100%;
}

.header-container {
  width: 400px;
  margin: 0 auto;
  max-width: 100%;
}

.header-container h1 {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 500;
}

.header-container > p > span {
  color: #ecb12f;
  font-weight: 500;
}

.header p {
  padding: 0 10px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button.cta-btn {
  margin-bottom: 0;
}

.google-btn {
  background: #4285f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-logo {
  width: 25px;
  background-color: white;
  margin-right: auto;
}

.google-span {
  margin-right: auto;
  color: white;
}

.screenshot-image {
  width: 100%;
  margin-top: 25px;
}

.main-section {
  background: #f3eae2;
}

.logo-section > p {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 25px;
}

.top-logos-container > img {
  margin-right: 10px;
}

.top-logos-container > img[src*="airbnb"] {
  width: 100px;
}

.top-logos-container > img[src*="nasa"] {
  width: 50px;
}

.top-logos-container > img[src*="uber"] {
  width: 80px;
}

.top-logos-container > img[src*="target"] {
  width: 40px;
}

/* 2nd row of flex company logos */

.bottom-logos-container > img[src*="nyt"] {
  width: 200px;
}

.bottom-logos-container > img[src*="spotify"] {
  width: 125px;
}

.bottom-logos-container {
  margin-bottom: 50px;
}

.company-logos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.company-logos > div {
  margin-bottom: 25px;
}

/* section with colorful images */

.middle-section-img-container > img {
  width: 360px;
}

.middle-section-img-container-dt > img {
  display: none;
}

.flex-reverse-img {
  display: flex;
  flex-direction: row-reverse;
}

.middle-section-container {
  padding: 10px;
}
.middle-section-container:last-child {
  padding-bottom: 50px;
}

.middle-section p {
  font-weight: 500;
}

.middle-section h2 {
  font-size: 26px;
}

.middle-section a {
  text-decoration: none;
}

/* team section */

.team-section {
  text-align: center;
}

.team-section h3 {
  font-size: 28px;
  padding: 40px 40px 40px 0;
  width: 350px;
  margin-bottom: 0;
}

.team-section p {
  font-weight: 500;
  padding: 0 40px;
  margin-top: 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-container button {
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  height: 45px;
  text-align: center;
}

.btn-container button {
  border: 1px solid#540b51;
}

.purple-background {
  background-color: #540b51;
}

.purple-text {
  color: #540b51;
}

button[class*="purple"],
a[class*="sign-in"] {
  color: white;
}

button[class*="purple-text"] {
  color: #540b51;
  background: white;
}

button[class*="try-for-free-btn"] {
  margin-bottom: 50px;
}

button[class*="white-border"] {
  border: 1px solid white;
}

.team-section ul {
  list-style: none;
  padding-left: 0;
}

.team-section span {
  font-size: 50px;
  font-weight: 800;
  color: #540b51;
}

.team-stats {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 25px;
}

p.survey {
  font-size: 12px;
  font-weight: 300;
  padding: 0 15px;
  margin-bottom: 40px;
}

/* welcome section */

.welcome h3 {
  font-weight: 500;
  font-size: 28px;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-top: 40px;
  text-align: center;
  color: white;
}

/* Footer list */

img[src="./images/iso-slack.png"] {
  width: 48px;
  margin-left: 15px;
  margin-top: 40px;
}

.footer-list-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

ul.footer-list {
  list-style: none;
  font-size: 12px;
  padding-left: 0;
  margin-top: 0;
  line-height: 36px;
}

.footer-list li:first-of-type {
  font-weight: 600;
  align-self: flex-start;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

ul.footer-terms {
  list-style: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
  padding-left: 0;
}

ul.footer-icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-top: 25px;
}

div.small-copy {
  font-size: 12px;
  padding: 25px 0;
}

.small-copy {
  text-align: left;
  margin-right: 0px;
  display: inline-block;
  padding-right: 50px;
}

.footer-li-img {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    min-width: 1024px;
    max-width: 100%;
  }

  section.color-section {
    padding: 0 25px;
  }

  .header {
    display: flex;
  }

  .header-container {
    width: 190px;
    margin: 0;
  }

  .header-container h1 {
    text-align: left;
  }

  .header-container p {
    padding-left: 0px;
    padding-right: 0px;
    width: 250px;
    text-align: left;
  }

  .screenshot-container img {
    width: 400px;
    position: relative;
    left: 180px;
  }

  div.btn-container {
    margin-bottom: 100px;
  }

  .btn-container button {
    margin: 0;
    width: 350px;
  }

  .btn-width {
    width: 40%;
  }

  /* main section */

  .company-logos-container {
    display: initial;
  }

  div.company-logos-container {
    display: block;
    margin-left: 75px;
  }

  .company-logos-container > div {
    display: inline-block;
  }

  .logo-section p {
    width: 50%;
    margin-left: 150px;
  }

  .middle-section-img-container img {
    display: none;
  }

  .middle-section-img-container-dt img {
    display: block;
    width: 500px;
  }

  /* .flex-reverse-img img {
    position: relative;
    right: 250px;
  } */

  /* positioning of middle section headers and paragraphs */

  .middle-section-container {
    padding: 25px;
    width: 450px;
    margin-left: 150px;
  }

  .middle-section-container a {
    margin-bottom: 50px;
    display: inline-block;
  }

  /* Team sections */

  .team-section p {
    padding-left: 0px;
    margin-right: 225px;
  }

  .team-section h3 {
    width: 50%;
    margin-left: 80px;
  }

  .btn-container {
    display: initial;
    margin-left: 0px;
    margin-right: 250px;
  }

  button.team-btn {
    width: 25%;
    display: inline-block;
  }

  .team-section ul {
    display: flex;
    margin-top: 50px;
  }

  .team-section ul > li {
    width: 250px;
  }

  .team-section ul > li > p {
    margin-right: 0;
    text-align: left;
  }

  .team-percentages {
    padding-right: 0;
    padding-left: 40px;
  }
}

@media (min-width: 1440px) {
  body {
    min-width: 1400px;
    max-width: 100%;
  }

  #slack-icon {
    object-fit: contain;
  }

  ul.nav-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }

  .nav-list > li > a {
    color: white;
  }

  ul.desktop-nav-links {
    display: flex;
    gap: 25px;
  }

  img[src*="icon-menu"] {
    display: none;
  }

  div.nav-bar-sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a[class*="sign-in"] {
    color: white;
  }

  a[class*="try-free"] {
    color: #540b51;
    background: white;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
  }

  hr.nav-hr {
    width: 300px;
    position: relative;
    margin-right: 0px;
  }

  .header {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
  }

  .header-container {
    margin: initial;
  }

  .header-container h1 {
    text-align: left;
    font-size: 48px;
    font-weight: 700;
  }

  .first-word {
    display: block;
  }

  .header-container p {
    width: 250px;
    text-align: left;
  }

  .screenshot-image {
    width: 500px;
  }

  div.btn-container {
    flex-direction: row;
    padding-bottom: 100px;
  }

  button[class*="cta-btn"] {
    width: 400px;
  }

  /* logos section */

  .company-logos-container {
    flex-direction: row;
    align-items: initial;
  }

  .company-logos-container img {
    margin-right: 50px;
  }

  .bottom-logos-container {
    margin-bottom: 100px;
  }

  .middle-section-dt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-middle-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }

  .middle-section-img-container img {
    display: none;
  }

  .middle-section-img-container-dt img {
    display: block;
    width: 500px;
  }

  .middle-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 500px;
  }

  .middle-section h2 {
    margin-left: 0;
  }

  .middle-section-container p {
    align-self: center;
    margin-top: 0px;
    margin-right: 100px;
    text-align: left;
  }
  .flex-rev-div {
    flex-direction: row-reverse;
  }

  .flex-reverse-img {
    position: absolute;
    right: 10px;
  }

  .middle-section-dt:last-child {
    padding-bottom: 100px;
  }

  /* team section */

  .team-section h3 {
    width: initial;
    font-size: 32px;
  }
  button[class*="purple-background"] {
    width: 350px;
    margin-right: 0;
  }
  button[class*="purple-text"] {
    width: 250px;
    margin-left: 0;
  }

  .team-section div.btn-container {
    margin-bottom: 75px;
    justify-content: center;
  }

  .team-section ul {
    display: flex;
    justify-content: space-around;
  }

  .team-section ul > li {
    text-align: left;
  }

  .team-section p {
    padding: 0;
  }

  .team-stats {
    text-align: left;
  }

  .survey {
    display: none;
  }

  /* welcome section */

  .welcome h3 {
    width: inherit;
    font-size: 32px;
    font-weight: 600;
    margin-top: 50px;
    padding-top: 50px;
  }

  .welcome div.btn-container {
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 0;
  }

  button[class*="purple-background"] {
    margin-left: 0;
    width: 200px;
    border-radius: initial;
  }

  button[class*="purple-text"] {
    margin-right: 0;
    width: 200px;
    border-radius: initial;
  }

  /* footer */

  #footer img {
    margin-left: 0;
    padding: 0 25px;
  }

  .footer-list-container {
    justify-content: space-between;
    padding: 0 25px;
  }

  ul.footer-terms {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
  }

  ul.footer-icons {
    justify-content: flex-start;
    gap: 50px;
    padding: 0 25px;
  }

  div.small-copy {
    padding: 0 25px;
  }
}
